/* general css styles*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.hover-opacity{
    transition:opacity 0.5s;
}
.hover-opacity:hover{
    opacity:0.8
}
/*start  nav bar */
header{
    z-index: 999;
    width: 100%;
    
}


header li a.nav-link{
   color: white!important;
   position: relative;
   
   
}
header li a.nav-link.active{
    color: blue !important;
}
header li a.nav-link::after,header li a.nav-link.active::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: blue;
    left:10px;
    bottom: 0px;
    transition: width 0.5s;
}
header li a.nav-link.active::after{
    width: 70%;
}
header li a.nav-link:hover::after{
  
   width:70%;
    
}
header a.dropdown-toggle:after{
   border: none;
}
header a.dropdown-toggle i{
    font-size: 10px;
}
header a.dropdown-item,header ul.dropdown-menu{
    background-color: blue;
    color: white;
}
header button.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
@media (max-width:992px) {
    header nav ul.navbar-nav{
        align-items: flex-end;
       
        background-color: rgb(46, 44, 44,0.8);
        padding: 10px;
    }
    
    header .navbar-nav .dropdown-menu{
        position: absolute;
        top: -11%;
        left: -256%;
        min-width:30px
    }
    
}
/* end nav bar */


/* start home */

.landing-page{
    position: relative;
    height: 100vh;
    background-image: url('../images/background/background1.webp');
    background-size: cover;
    background-repeat: no-repeat;
   
  
}
.overlay{
    background-color: rgb(46, 44, 44,0.8);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
   
}
/* end home */

/* start section-header */
.section-header h2{
    position: relative;
}
.section-header h2::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 3px;
    left: 50%;
    bottom: -10px;
    background-color: blue;
    transform: translateX(-50%);
}

/* end section-header */


/* start about */
.about .about-content{
    position: relative;
}
.about .about-content::after{
 content:"";
 position: absolute;

 width: 0;
 left:0;
 right: 0;
 bottom: 0;
 top: 0;
 background-color: rgb(95, 90, 90);
 transition: all .5s;
 z-index: -1;

}
.about .about-content:hover{
    cursor: pointer;
}
.about .about-content:hover::after{
    width: 100%;
   
}
.about .about-content:hover h2{
    color:white
}
/* end about */

/* start portfolio */

.portfolio .portfolio-content:hover{
    cursor: pointer;
}

.portfolio .overlay{
    background-color: rgb(46, 44, 44,0.8);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    
   
}
.portfolio .overlay .info h2{
    transition: all .5s;
    transition-delay: 0;
}

.portfolio .overlay .info p{
    color: rgb(198, 182, 182);
    transition: all .5s;
    transition-delay: 0.4s;
}

.portfolio .overlay .info button{
    border-radius: 0;
    transition: all .5s;
    transition-delay: 0.7s;
}
.portfolio .portfolio-content:hover h2,.portfolio .portfolio-content:hover p,.portfolio .portfolio-content:hover button
{
    margin-top: 15px;
}
.portfolio .portfolio-content:hover .overlay{
opacity: 1;
visibility: visible;

}
/* end portfolio */

/* start offer */
.offer .offer-content{
    position: relative;
}
.offer .offer-content::after{
content: "";
width: 0;
position: absolute;
left: 0px;
top:0px;
right: 0px;
bottom: 0px;
background-color: rgb(92, 89, 89);
transition: all .5s;
z-index: -1;
}
.offer .offer-content:hover::after{
    width: 100%;
}
.offer .offer-content span{
    transition: color .5s;
}
.offer .offer-content:hover span{
    color:white;
}
/* end offer */